<div>
  <h2 id="page-heading" data-cy="PetsHeading">
    <span>Pets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pets"
        [routerLink]="['/pets/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Pets </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pets?.length === 0">
    <span>No pets found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pets && pets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Type</span></th>
          <th scope="col"><span>Description</span></th>
          <th scope="col"><span>Birthday</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pets of pets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pets', pets.id, 'view']">{{ pets.id }}</a>
          </td>
          <td>{{ pets.name }}</td>
          <td>{{ pets.type }}</td>
          <td>{{ pets.description }}</td>
          <td>{{ pets.birthday | formatMediumDate }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/pets', pets.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/pets', pets.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(pets)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
